{{> header }}

<h3>Collections management</h3>

<div id="menucontainer">
    <ul class="adminbuttons">
        <li><a class="btn btn-primary btn-large" href="{{# path }}admin/upload{{/path}}">Upload data</a></li>
        <li><a class="btn btn-primary btn-large" href="{{# path }}admin/display{{/path}}">Display data</a></li>
    </ul>
</div>

{{> footer }}
