/* main page */

body {
    font-family: Ubuntu, Helvetica, SansSerif;
    background-color: #fff;
    font-size: 0.9em;
}

#banner {
    background-color: #fff;
    padding: 4px;
    margin-bottom: 20px;
}

div.logo {
    width: 200px;
    margin: 0 auto;
}

#content {
    background-color: #fff;
}

footer {
    margin-top: 20px;
    padding: 5px;
    background-color: #e1e1e1;
    min-height: 50px;
}

/* errors */


label.error {
    color: #ff0000;
    font-size: 80%;
    margin-bottom: 0;
}

.formerrors {
    list-style-type: none;
}



/* admin pages */


div#menucontainer {
    margin: 40px 20% 0;
    padding: 20px;
    border: 2px solid #dfdfdf;
}

.adminbuttons {
    list-style: none;
}

.adminpage_title {
    text-align: center;
    margin-bottom: 20px;
}

span.badge-crs {
    font-size: 1.2em;
}

/* pricebands */

.pricebandrow {
    font-size: 110%;
}

/* login page */

#loginbtn {
    width: 100%;
}

#loginheading {
    font-size: 35px;
    text-align: center;
    margin: 20px 0;
}

/* menu page */
.menubox {
}

.menuclick {
    display: block;
    height: 200px;
    width: 200px;
    margin: 20px auto;
    padding: 25px 5px 5px;
    border: 5px solid #4041fe;
    border-radius: 10px;
    font-size: 1.5rem;
    color: #000;
    text-align: center;
}

/* display */
.thumbnail {
    max-width: 75px;
}

/* Navigation */
.navbar {
    margin-bottom: 30px;
}
