/* main page */

body {
    font-family: Ubuntu, Helvetica, SansSerif;
    background-color: #fff;
    font-size: 0.9em;
}

#banner {
    background-color: #fff;
    padding: 4px;
    margin-bottom: 20px;
}

div.logo {
    width: 200px;
    margin: 0 auto;
}

#content {
    background-color: #fff;
}

footer {
    margin-top: 20px;
    padding: 5px;
    background-color: #fff;
    min-height: 50px;
}

/* errors */


label.error {
    color: #ff0000;
    font-size: 80%;
    margin-bottom: 0;
}

.formerrors {
    list-style-type: none;
}



/* admin pages */


div#menucontainer {
    margin: 40px 20% 0;
    padding: 20px;
    border: 2px solid #dfdfdf;
}

.adminbuttons {
    list-style: none;
}

.adminpage_title {
    text-align: center;
    margin-bottom: 20px;
}

span.badge-crs {
    font-size: 1.2em;
}


/* login page */

#loginbtn {
    width: 100%;
}

#loginheading {
    font-size: 35px;
    text-align: center;
    margin: 20px 0;
}

/* menu page */
.menubox {
}

.menuclick {
    display: block;
    height: 250px;
    width: 250px;
    margin: 20px auto;
    padding: 5px 5px 5px;
    border: 5px solid #4041fe;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    text-align: left;
    background-image:     linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
    );
}

a.bg_vehicles {
    background-image: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
    ),
    url(../images/buttons/vehicles.png);
}

a.bg_photographs {
    background-image: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
    ),
    url(../images/buttons/photographs.png);
}

a.bg_tools {
    background-image: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
    ),
    url(../images/buttons/tools.png);
}

a.bg_archive {
    background-image: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
    ),
    url(../images/buttons/archive.png);
}

a.bg_signs {
    background-image: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
    ),
    url(../images/buttons/signs.png);
}

a.bg_publicity {
    background-image: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
    ),
    url(../images/buttons/publicity.png);
}

a.bg_costume {
    background-image: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
    ),
    url(../images/buttons/costume.png);
}

a.bg_map {
    background-image: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
    ),
    url(../images/buttons/map.png);
}

a.bg_signalling {
    background-image: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
    ),
    url(../images/buttons/signalling.png);
}

a.bg_ph_vehicles {
     background-image: linear-gradient(
             rgba(0, 0, 0, 0.5),
             rgba(0, 0, 0, 0.5)
     ),
     url(../images/buttons/ph_vehicles.png);
 }

a.bg_ph_stations {
    background-image: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
    ),
    url(../images/buttons/ph_stations.png);
}

a.bg_ph_people {
    background-image: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
    ),
    url(../images/buttons/ph_people.png);
}

a.bg_ph_miscellaneous {
    background-image: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
    ),
    url(../images/buttons/ph_miscellaneous.png);
}

/* display */
.thumbnail {
    max-width: 75px;
}

.index-intro {
    text-align: center;
}

.index-intro p {
    font-size: 1.2rem;
}

/* Navigation */
.navbar {
    margin-bottom: 30px;
}

