{{> header }}

{{> mainmenu }}

<div class="container-fluid menugrid">
    <div class="row">
        <div class="col menubox">
            <a class="menuclick" href="{{# path }}site/menu{{/ path }}/vehicles">Vehicles</a>
        </div>
        <div class="col menubox">
            <a class="menuclick" href="{{# path }}site/menu{{/ path }}/photographs">Photographs</a>
        </div>
        <div class="col menubox">
            <a class="menuclick" href="{{# path }}site/menu{{/ path }}/tools">Tools & Equipment</a>
        </div>
    </div>
    <div class="row">
        <div class="col menubox">
            <a class="menuclick" href="{{# path }}site/menu{{/ path }}/archive">Archive</a>
        </div>
        <div class="col menubox">
            <a class="menuclick" href="{{# path }}site/menu{{/ path }}/signs">Signs</a>
        </div>
        <div class="col menubox">
            <a class="menuclick" href="{{# path }}site/menu{{/ path }}/art">Art Publicy & Commemorative</a>
        </div>
    </div>
    <div class="row">
        <div class="col menubox">
            <a class="menuclick" href="{{# path }}site/menu{{/ path }}/costume">Costume</a>
        </div>
        <div class="col menubox">
            <a class="menuclick" href="{{# path }}site/menu{{/ path }}/maps">Maps & Plans</a>
        </div>
        <div class="col menubox">
            <a class="menuclick" href="{{# path }}site/menu{{/ path }}/signalling">Signalling</a>
        </div>
    </div>
</div>


{{> footer }}
