{{> header }}

{{> mainmenu }}

<h3>Collections management</h3>

<div class="alert alert-info">
    Enter your search terms here...
</div>

<form class="form-inline my-2 my-lg-0" action="{{# path }}site/search{{/path}}" method="post">
    <input class="form-control mr-sm-2 w-75" type="text" placeholder="Search" name="search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>

{{> footer }}
