{{> header }}

{{> mainmenu }}

<div class="container-fluid menugrid">
    <div class="row">
        <div class="col menubox">
            <a class="menuclick" href="{{# path }}site/photographs{{/ path }}/vehicle">Vehicle Photographs</a>
        </div>
        <div class="col menubox">
            <a class="menuclick" href="{{# path }}site/photographs{{/ path }}/station">Station Photographs</a>
        </div>
    </div>
    <div class="row">
        <div class="col menubox">
            <a class="menuclick" href="{{# path }}site/photographs{{/ path }}/people">People Photographs</a>
        </div>
        <div class="col menubox">
            <a class="menuclick" href="{{# path }}site/photographs{{/ path }}/miscellaneous">Miscellaneous Photographs</a>
        </div>
    </div>
</div>


{{> footer }}
